header {
  background-color:rgb(155, 155, 229); 
}

main section {
background-color: rgb(84, 84, 162)
}

footer {
  background-color: rgb(99, 99, 207)
}




























/* <div> <canvas id="mychart"><div>

free open cource for cdn 

function render product() {
while (state.indexArray.length < uniqueImgCount) {
let reandomNumber = getRandomNumber();
if (!state.indexArray.includes(rendomNumber)){
state.indexArray.push(randomNumber)
}
}*/